# Python
back/**/__pycache__/
back/**/*.pyc

# Django
back/**/db.sqlite3
back/**/.env

# Virtual environment
back/**/venv/
back/**/env/

# Frontend
front/**/node_modules/
front/**/dist/
front/**/build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
